.movie-view-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    background-color: Ivory;
    margin: 2rem auto;
    max-width: 800px;
    line-height: 1.5;

    h3 {
      margin-top: 1.2rem;
      font-size: 1.25rem;
      color: #333;
    }
  
    span, p {
      font-size: 1rem;
    }
  
    ul {
      padding-left: 1.5rem;
    }
  }
  
  .movie-image-container {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .movie-image {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    max-height: 600px; 
    object-fit: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  button.back-button {
    font-family: "Zen Tokyo Zoo", system-ui;
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 8px;
    background-color: white;
    color: DarkSlateBlue;
    border: solid 1px DarkSlateBlue;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: DarkSlateBlue;
      color: white;
      box-shadow: 0px 4px 10px rgba(72, 61, 139, 0.4); 
    }
  }
  button.favourite-button {
    background-color: white;
    color: DarkSlateBlue;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    font-family: "Zen Tokyo Zoo", system-ui;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 4px 10px rgba(72, 61, 139, 0.4); 
    }
  
    &:active {
      transform: translateY(1px);
    }
  }
  