

$primary: DarkSlateBlue;
$body-bg: PapayaWhip;
$secondary: DarkOliveGreen;

h1, h2, h3, h4, .card-title, .nav-link {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .navbar-brand h1 {
    font-size: 4rem;
  }

  .navbar .nav-link {
    font-size: 1rem;
    color: white;
  }
  .card-text, p, span, ul{
      font-family: "Special Gothic", sans-serif;
      font-weight: 600;
      font-style: normal;
    }
    
   .card Button {
      width: 100%;
      font-family: "Zen Tokyo Zoo", system-ui;
      font-weight: 400;
      font-style: normal;
      transition: background-color 0.3s ease;
      background-color: Ivory;
      color: DarkSlateBlue;
  
    &:hover {
      background-color: DarkSlateBlue;
      color: Ivory;
    }
  
    }

    @import '~bootstrap/scss/bootstrap.scss';
   